* {
    box-sizing: border-box;
    margin: 0;
    
}

body {
    display: block;
    margin: 8px;
}

img {
    display: flex;
    align-items: center;
    max-width: 100%;
    height: auto;
    padding: 1rem;
}